*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# User-specific stuff:
truecar-query/.idea/workspace.xml
truecar-query/.idea/tasks.xml
truecar-query/.idea/dictionaries

# Sensitive or high-churn files:
truecar-query/.idea/dataSources.ids
truecar-query/.idea/dataSources.xml
truecar-query/.idea/sqlDataSources.xml
truecar-query/.idea/dynamic.xml
truecar-query/.idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
theme-tools/out

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
